{
  "openapi": "3.0.0",
  "servers": [{
                "description": "Production environment",
                "url": "https://driver-vehicle-licensing.api.gov.uk/vehicle-enquiry"
              },
              {
                "description": "Test environment",
                "url": "https://uat.driver-vehicle-licensing.api.gov.uk/vehicle-enquiry"
              }
  ],
  "info": {
    "contact": {
      "email": "DvlaAPIAccess@dvla.gov.uk",
      "name": "DVLA API Team",
      "x-twitter": "GDSTeam"
    },
    "description": "Interface specification for the DVLA Vehicle Enquiry API",
    "title": "Vehicle Enquiry",
    "version": "1.1.0",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_GDSTeam_profile_image.png"
    },
    "x-origin": [{
                   "format": "openapi",
                   "url": "https://developer-portal.driver-vehicle-licensing.api.gov.uk/apis/vehicle-enquiry-service/v1.1.0-vehicle-enquiry-service.json",
                   "version": "3.0"
                 }],
    "x-preferred": true,
    "x-providerName": "api.gov.uk",
    "x-serviceName": "vehicle-enquiry"
  },
  "tags": [{
             "name": "vehicle"
           }],
  "paths": {
    "/v1/vehicles": {
      "post": {
        "description": "Returns vehicle details based on registration number",
        "operationId": "getVehicleDetailsByRegistrationNumber",
        "parameters": [{
                         "description": "Client Specific API Key",
                         "in": "header",
                         "name": "x-api-key",
                         "required": true,
                         "schema": {
                           "type": "string"
                         }
                       },
                       {
                         "description": "Consumer Correlation ID",
                         "in": "header",
                         "name": "X-Correlation-Id",
                         "required": false,
                         "schema": {
                           "type": "string"
                         }
                       }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Vehicle"
              }
            }
          },
          "description": "Registration number of the vehicle to find details for",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {

              }
            },
            "description": "Successful response"
          },
          "400": {

            "description": "Bad Request"
          }
        },
        "summary": "Get vehicle details by registration number",
        "tags": [
          "vehicle"
        ]
      }
    }
  },
  "components": {
    "schemas": {

      "Vehicle": {
        "properties": {
          "arrayA": {
            "type": "array",
            "items": {

            }
          },

          "arrayG": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32",
                "minimum": 12,
                "maximum": 24,
                "nullable": true,
                "exclusiveMinimum": true,
                "exclusiveMaximum": true,
                "enum": [1, 2],
                "default": 1

              },
              "enum": [
              [
              [
              [1, 2],
              [2, 6]
              ]
              ]
              ]
            }
          },
          "arrayH": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string",
                "nullable": true,
                "enum": ["1", "2"]

              },
              "enum": [
              ["1", "2"],
              ["3", "2"]
              ]
            }





          }
        }
      }
    }
  }
}